html, body{
height:100%;	
}

@font-face {
    font-family: 'vegurregular';
    src: url('../fonts/vegur-regular-webfont.eot');
    src: url('../fonts/vegur-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vegur-regular-webfont.woff') format('woff'),
         url('../fonts/vegur-regular-webfont.ttf') format('truetype'),
         url('../fonts/vegur-regular-webfont.svg#vegurregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'roboto';
}

#wrapper{
min-height: 100%;
margin: 0 auto -50px;
}

#push{
height:3px;
width:100%;
position:fixed;

}

            nav {
                text-align: center;
            }
            
            div.backgroundImageContainer{
	           position: absolute;
                z-index: -1;
	           width: 100%;
	           height: 100%;
            }
            
	       div.backgroundImagePane {
	           position: absolute;
	           top: 0px;
	           left: 0px;
	           width: 100%;
	           height: 100%;
	           background-size: cover;
	           background-position: center center;
	       }

	       div.backgroundImagePane * {
                position: absolute;
	       }
	   

            div.wrapper {
	            position: absolute;
                z-index: 100;
            }

            div.footer {
                position: absolute;
                z-index: 101;
            }
            
            div.dayTimeIcons {
                clear: left;
            }
            
            div.mainLink {
                display: inline-block; margin: 0px; padding: 0px;
            }

            div.playButton, div.pauseButton, div.muteButton {
                text-align: center;
                opacity: 0;
            }

            div.muteButtonContainer, div.hideButtonContainer {
                position: absolute;
                bottom: 0px;
            }
            
            div.hideButtonContainer {
                right: 0px;
            }
            
            div.pauseButton {
                opacity: 1;
                position: relative;
                top: 0px;
                left: 0px;
                width: 40px;
                height: 40px;
                border: 1px solid rgba(255,255,255,0.5);
                background: rgba(168,112,121,0.5);
                text-align: left;
                background-image: url(../chrome/pauseButtonBackground.png);
                background-repeat: no-repeat;
                background-position: 2px 2px;
            }
            
            div#pauseButtonAttachPoint {
                float: left;                
            }
            
            div.pauseButton img {
                position: relative;
                width: 17px;
                height: 17px;
                top: 11px;
                left: 11px;
            }
            
            div.playButton {
                position: absolute;
                width: 100%;
                top: 0;            
                z-index: 1000;
            }
            
            div.playButton img {
                margin: auto;
                padding-top: 10%;
                height: 30%;
                position: relative;
                
            }
            
            div.audioController {
                position: absolute;
                top: 50px;
                left: 0px;
                width: 100%;
                height: 80%;
                z-index: 400;
            }
            
            div.audioController .audioBarContainer {
                opacity: 0;
            }
            
            div.audioController .audioBar {
                position: relative;
                display: block;
                z-index: 300;
                height: 42px;
                border: 2px solid #494847;
                margin: 12% 60px 0px;
                padding: 0px;
                background: rgba(37,37,37,0.5);
            }
            
            div.audioController .audioBar #audioTimelineBar {
                margin-left: 42px;
            }
            
            div.audioController .audioBar #audioTimelineBar span#timelineCursorNode {
                display: block;
                width: 100%;
                
            }
            
            div.audioController .audioBar #audioTimelineBar span#timelineCursor {
                display: block;
                width: 1px;
                border-right: 1px solid #aaa;
                position: relative;
                height: 42px;
                margin-top: 1px
                opacity: 0.6;
                background: rgba(255,255,255,0.3)
            }
            
            div.audioController .audioBar #audioTimelineBar .timelineIcon {
                position: relative;
                width: 4px;
                height: 40px;
                border: 1px solid white;
                float: left;
                display: inline;
                margin-left: 42px;
                margin-top: -42px;
            }
            
            div.mediaContainer {
                margin: 0px 60px 20px;
                padding: 0px;
            }
            
            div#contentHook {
                position: absolute;
                left: 0px;
                right: 0px;
                z-index: 100;
                height: 80%;
            }
            
            div#contentHook .tw_textBox {
                position: absolute;
                right: 100px;
                top: 15%;
                text-align: right;
                font-size: 2em;
                color: #fff;
            }            

            div.audioBarContainer .videoContainer, div.audioBarContainer .imageContainer {
                height: 60%;
                padding: 0px;
                margin: 0px;
            }

            div.audioBarContainer .videoContainer .videoBox {
                height: 70%;
                padding: 10px 0px 0px;
                margin: 0px;
            }
            
            div.audioBarContainer .imageContainer {
                width: 70%;
            }
            
            div.audioBarContainer .imageContainer img {
                height: 50%;
                padding: 10px 0px 0px;
            }
            
            div.peripheralTool {
                margin: 3px;
                padding: 0px;
            }
            
            div.peripheralTool img{
                width: 42px;
                height: 42px;
            }
            
        #desktop {
            
            position: absolute;
            top: 50px;
            bottom: 50px;
            left: 0px;
            right: 0px;
            z-index: 5003;
            text-align: center;            
            overflow-y: scroll;
            overflow-x: hidden;
        }

        #desktop ul {
            margin: auto;
            padding-top: 100px
            padding-bottom: 0px;
        }
        
        #desktop ul li{ 
            display: inline-block;
        	margin:13px;
        	
        }
        
        #desktop ul li img.imageHolder{
            border:10px solid #a1a1a1;
        }
        
        #desktop ul li img{
            width:260px !important;
            height:260px !important;
            margin:3px;
        }    
        
        
        .aboutController section {

            position: absolute;
            top: 50px;
            bottom: 50px;
            left: 0px;
            right: 0px;
            background-color: rgba(239, 241, 242, 0.7);
            margin: 2% 20% 0;
            z-index: 5002;
            clear:both;
            padding-bottom:5px;
            overflow-y: scroll;
            
        }
        
        
        .aboutController section #welcome {
            padding-top:15px;
            width:100%;
            text-align:center;
        }

        .aboutController section h1 {
            font-size:300%;
        }

        .aboutController section blockquote {
            clear: both;
            font-size: 140%;
            padding: 10px 25px;
            margin: 10px 10px 10px 40px
        }
        
        .aboutController section h2 {
            color:#935362;
            font-size:160%;
            margin-bottom: 10px;
        }

        .aboutController section ul {
            margin: 15px 20px;
        }

        .aboutController section article{
            width:45%;
            float:left;
            margin:2% 2.5%;
        }
        
        
        
        
        ::-webkit-scrollbar {
            width: 12px;
        }
         
        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8); 
            border-radius: 10px;
        }
         
        ::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8); 
        }        
        
        ::-webkit-scrollbar:horizontal {
            opacity: 0;
        }
                    

            
	
    nav{
        width:100%;
        background-color: transparent;
        background-image: url(../chrome/menu_bg.png);
        z-index: 10;
	}
	
	
    nav a {
        text-decoration: none;
        color: #CCC;
        font-size: 1.5em;
        display: inline-block;
        margin: 0px 15px;
        padding: 10px 5px;
        font-weight: 300;
    }


    
    #daytimeIcons{
        width: 100%;
        height:50px;
        background-color: transparent;
        background-image: url(../chrome/menu_bg.png);
    }
    
    #daytimeIcons ul{
        max-width:350px;
        width:100%;
        margin: 0 auto;
    }
    
    #daytimeIcons ul li a {
        padding:10px 5px 0px;
        float:left;
    }
    
    #daytimeIcons ul li a img{
        width:60px !important;
        height:	35px !important;
    }
    	
    
