html, body{
height:100%;	
}

@font-face {
    font-family: 'vegurregular';
    src: url('../fonts/vegur-regular-webfont.eot');
    src: url('../fonts/vegur-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vegur-regular-webfont.woff') format('woff'),
         url('../fonts/vegur-regular-webfont.ttf') format('truetype'),
         url('../fonts/vegur-regular-webfont.svg#vegurregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body{
    font-family: 'vegurregular';
}

#wrapper{
min-height: 100%;
margin: 0 auto -50px;
}

#push{
height:3px;
width:100%;
position:fixed;

}

            div.backgroundImageContainer{
	           position: absolute;
                z-index: -1;
	           width: 100%;
	           height: 100%;
            }
            
	       div.backgroundImagePane {
	           position: absolute;
	           top: 0px;
	           left: 0px;
	           width: 100%;
	           height: 100%;
	           background-size: cover;
	           background-position: center center;
	       }

	       div.backgroundImagePane * {
                position: absolute;
	       }
	   

            div.wrapper {
	            position: absolute;
                z-index: 100;
            }

            div.footer {
                position: absolute;
                z-index: 101;
            }
            
            div.dayTimeIcons {
                clear: left;
            }
            
            div.mainLink {
                display: inline-block; margin: 0px; padding: 0px;
            }

            div.playButton, div.pauseButton {
                text-align: center;
                opacity: 0;
            }

            div.pauseButton {
                opacity: 1;
                position: relative;
                top: 2px;
                left: 10px;
            }
            
            div.playButton img {
                margin: auto;
                padding-top: 100px; 
            }
            

        #gallery {
            display: none;
            position: absolute;
            top: 50px;
            bottom: 50px;
            left: 0px;
            right: 0px;
            z-index: 1;            
            overflow-y: scroll;
            overflow-x: hidden;
        }

        #gallery ul {
            margin: auto;
            padding-top: 100px
            padding-bottom: 0px;
        }
        
        #gallery ul li{ 
            display: inline-block;
        	margin:13px;
        	
        }
        
        #gallery ul li img.imageHolder{
            border:10px solid #a1a1a1;
        }
        
        #gallery ul li img{
            width:260px !important;
            height:260px !important;
            margin:3px;
        }    
        
               
        ::-webkit-scrollbar {
            width: 12px;
        }
         
        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8); 
            border-radius: 10px;
        }
         
        ::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8); 
        }        
        
        ::-webkit-scrollbar:horizontal {
            opacity: 0;
        }
                    

            
@media only screen and (min-width: 801px) and (max-width: 3000px) {

	
nav{
width:100%;
background-color: transparent;
background-image: url(../chrome/menu_bg.png);
z-index: 10;
	}
	
	
nav a{
text-decoration: none;
color: #CCC;
font-size: 1.5em;
display: inline-block;
margin-left: 35px;
padding: 10px 5px;
font-weight: 300;
}



#daytimeIcons{
width: 100%;
height:50px;
background-color: transparent;
background-image: url(../chrome/menu_bg.png);
}

#daytimeIcons ul{
max-width:420px;
width:100%;
margin: 0 auto;

}

#daytimeIcons ul li a {
padding-top:10px;
padding-left:15px;
float:left;
}

#daytimeIcons ul li a img{
width:60px !important;
height:	35px !important;
}

#playButton{
margin:7% auto;
max-width:1200px;
width:94%;
height:290px;
position:relative;
}

#infoDisplay{
background-color:#999;
opacity: 0.6;
filter: alpha(opacity = 60); /*IE*/
height:290px;
max-width:1200px;
width:100%;
position:absolute;
z-index:-1;
}

#text{
position:absolute;
margin: 30px 20px;
color:#000;	
font-size:150%;
text-align: center;
}

#play{
position: absolute; 
bottom: 0;
width:100%;
max-width:1200px;
min-height:33px;
max-height:53px;
}

#footer {

width:100%;
margin-top:1px;
opacity: 0.4;
bottom:0px;



}
	
#footer, .push {
    height: 50px;
}

@media only screen and (min-width:481px) and (max-width: 800px) {

	
nav{
width:100%;
background-color: #252525;
text-align: center;
z-index: 10;
	}
	
	
nav a{
text-decoration: none;
color: #CCC;
font-size: 120%;
display: inline-block;
margin-left: 35px;
padding: 10px 7px 10px 7px ;
}

#daytimeIcons{
width: 100%;
background-color: #393939;
/*opacity: 0.9;
filter: alpha(opacity = 90); */
height:45px;
}

#daytimeIcons ul{
max-width:370px;
width:100%;
margin: 0 auto;

}

#daytimeIcons ul li a {
padding-top:5px;
padding-left:10px;
float:left;
}

#daytimeIcons ul li a img{
width:40px !important;
height:	23px !important;
}
	
	
#infoDisplay{
background-color:#999;
opacity: 0.6;
filter: alpha(opacity = 60); 
height:210px;
width:100%;
position:absolute;
z-index:-1;
}

#text{
position:absolute;
margin: 30px 20px;
color:#000;	
font-size:120%;
text-align: center;
}

#playButton{
margin:0 3%;
width:94%;
height:240px;
position:relative;
}


#play{
position: absolute; 
bottom: 0;
width:100%;
min-height:30px;
max-height:50px;
}

footer{
margin-top:1px;
width:100%;
background-color: #393939;
opacity: 0.4;
filter: alpha(opacity = 40); 
bottom:0;	
float:right;
color:#CCC;

}

#footer, .push {
    height: 50px;
}


}

@media only screen and (min-width: 0px) and (max-width: 480px) {

nav{
width:100%;
background-color: #252525;
text-align: center;
z-index: 10;
}
	
	
nav a{
text-decoration: none;
color: #CCC;
font-size: 110.5%;
display: inline-block;
padding: 10px 7px 10px 7px ;
}	
	
	
#daytimeIcons{
width: 200px;
background-color: #393939;
/*opacity: 0.6;
filter: alpha(opacity = 60); */
height:38px;
alignment-baseline:central;
margin: 0 auto;
}

#daytimeIcons ul{
min-width:360px;
width:100%;
margin: 0 auto;
}

#daytimeIcons ul li a {
padding-top:1.04%;
padding-left:1.04%;
float:left;
}

#daytimeIcons ul li a img{
width:30px !important;
height:	18px !important;
}
	
#infoDisplay{
background-color:#999;
opacity: 0.9;
filter: alpha(opacity = 90); 
height:190px;
width:100%;
position:absolute;
z-index:-1;
}

#text{
position:absolute;
margin: 30px 20px;
color:#000;	
font-size:110%;
text-align: center;
}

#playButton{
margin:1px 3%;
width:94%;
height:190px;
position:relative;
}

#play{
position: absolute; 
bottom: 0;
width:100%;
min-height:30px;
max-height:50px;
}

footer{
margin-top:1px;
width:100%;
background-color: #393939;
opacity: 0.4;
filter: alpha(opacity = 40); 
bottom:0;	
color:#CCC;

}

#footer, .push {
    height: 50px;
}


}
