<div>
    <section>
    	<div id="welcome">
            <h1> 24 Hours At Jono's </h1>
        </div> <!-- end of welcome -->
        
        <article>
            <h2>About 24 Hours at Jono's</h2>
            <p> 24 hours at Jono's is an audio visual documentary exploring the micro community that exists at Jono's Snooker Club in Camberwell, London. Spoken word narration, interviews, video, storytelling and live sound recordings are used to recreate the atmosphere of Jono's Snooker Club. Our aim was to highlight this micro community to a wider audience, inviting outsiders to explore a space they may not usually be a part of. </p>
        </article>
        
        <article>
            <h2>Creators</h2>
            <p>A project by Nichol Keene, Toby de Angeli, Jade Heritage and Emma Barltrop. 
A small project publication was produced by Antlers Press.</p>

            <ul>
                <li><a href="http://www.nicholkeene.com">www.nicholkeene.com</a></li>
                <li><a href="http://www.tobydeangeli.com">www.tobydeangeli.com<a/></li>
                <li><a href="http://www.jadeheritage.co.uk">www.jadeheritage.co.uk</a></li>
                <li><a href="http://emmabarltrop.tumblr.com">emmabarltrop.tumblr.com</a></li>
                <li><a href="http://www.antlerspress.co.uk">www.antlerspress.co.uk</a></li>
            </ul>
        </article>

            <blockquote> "There are some places that are interesting just because you don't know what's inside." </blockquote>
            
        <article>
            <h2>Links</h2>
            <ul>
                </a></li>
                <li><a href="http://www.se5forum.org">se5 forum</a></li>
                <li><a href="https://maps.google.co.uk/maps?oe=utf-8&client=firefox-a&ie=UTF-8&q=jonos+camberwell&fb=1&gl=uk&hq=jonos&hnear=0x48760378cf4fae73:0x74f70bc4fa0e26cb,Camberwell,+Greater+London&cid=0,0,10293156070002425746&ei=vPssUfm7E6jM0AW824GIDQ&ved=0CHwQ_BIwAw">Jonos Snooker Club Camberwell</a></li>
                <li><a href="http://www.roundhouse.org.uk/explore/radio/visualised-audio-project">Visualised Audio Project</a></li>
                <li><a href="http://www.roundhouse.org.uk/">Camden Roundhouse</a></li>
                <li><a href="http://http://www.ideastap.com">Ideastap</a></li>
            </ul>
        </article>
        
        <article>
            <h2>Camden Roundhouse</h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet ultricies arcu, ac convallis mauris euismod hendrerit. Curabitur sem magna, laoreet vitae euismod vel, eleifend sit amet dolor. Cras dapibus magna neque, eu tincidunt nisi. Vivamus in purus enim. Sed volutpat tincidunt diam, at malesuada dui varius tempus </p>
        </article>
        
        <article>
            <h2>IdeasTap</h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet ultricies arcu, ac convallis mauris euismod hendrerit. Curabitur sem magna, laoreet vitae euismod vel, eleifend sit amet dolor. Cras dapibus magna neque, eu tincidunt nisi. Vivamus in purus enim. Sed volutpat tincidunt diam, at malesuada dui varius tempus </p>
        </article>
        
        <article>
            <h2>Fathom Point</h2>
            <p>This website was produced by Fathom Point Ltd with Sanita Lustika, Leeroy Rose and Sam Dunne.</p>
        </article>
    
   </section>
</div>