<div class="audioBarContainer">
    <div data-dojo-attach-point="audioBarNode" class="audioBar">                
        <div data-dojo-attach-point="pauseButtonNode" id="pauseButtonAttachPoint"></div>
        <div data-dojo-attach-point="timelineNode" id="audioTimelineBar"><span data-dojo-attach-point="timelineCursorBox" id="timelineCursorNode"><span data-dojo-attach-point="cursorNode" id="timelineCursor"></span></span></div>
    </div>
    <div data-dojo-attach-point="mediaNode" class="mediaContainer"></div>
</div>