<div>
    
    <div id="desktop">
    
        
        <ul>
        
        <li><a id="single_image" href="images/jonofin2.jpg" title="">
        	<img src="images/photo1.jpg" alt="Pattern"  class="imageHolder"/>
        </a></li>
        
        <li><a id="single_image" href="images/jonosfin.jpg" title="">
        	<img src="images/photo2.jpg" alt="Pattern"  class="imageHolder"/>
        </a></li>
        
        <li><a id="single_image" href="images/jonowall.jpg" title="">
        	<img src="images/photo3.jpg" alt="Jono Wall"  class="imageHolder"/>
        </a></li>
        
        <li><a id="single_image" href="images/IMG_0398.jpg" title="Snapshots from Jono's">
        	<img src="images/photo4.jpg" alt="Jono's at night" class="imageHolder"/>
        </a></li>
        
        <li><a id="single_image" href="images/IMG_0409.jpg" title="Outside Jono's">
        	<img src="images/photo5.jpg" alt="Outside Jono's"  class="imageHolder"/>
        </a></li>
        
        <li><a id="single_image" href="images/IMG_0408.jpg" title="">
        	<img src="images/photo6.jpg" alt="Snooker club"  class="imageHolder"/>
        </a></li>
        
        <li><a id="single_image" href="images/blur.jpg" title="">
        	<img src="images/blur1.jpg" alt="Blur"  class="imageHolder"/>
        </a></li>
        
        <li><a id="single_image" href="images/cable.jpg" title="">
        	<img src="images/cable1.jpg" alt="Cable"  class="imageHolder"/>
        </a></li>
        
        <li><a id="single_image" href="images/chain.jpg" title="">
        	<img src="images/chain1.jpg" alt="Chain"  class="imageHolder"/>
        </a></li>
        
        <li><a id="single_image" href="images/cobweb.jpg" title="">
        	<img src="images/cobweb1.jpg" alt="Coweb"  class="imageHolder"/>
        </a></li>
        
        <li><a id="single_image" href="images/development.jpg" title="">
        	<img src="images/development1.jpg" alt="Development"  class="imageHolder"/>
        </a></li>
        
        <li><a id="single_image" href="images/flicker.jpg" title="">
        	<img src="images/flicker1.jpg" alt="Flicker"  class="imageHolder"/>
        </a></li>
        
        
        <li><a id="single_image" href="images/fringe.jpg" title="">
        	<img src="images/fringe1.jpg" alt="Fringe"  class="imageHolder"/>
        </a></li>
        
        <li><a id="single_image" href="images/game.jpg" title="">
        	<img src="images/game1.jpg" alt="Game"  class="imageHolder"/>
        </a></li>
        
        <li><a id="single_image" href="images/gamephoto.jpg" title="">
        	<img src="images/gamephoto1.jpg" alt="Photo of the game"  class="imageHolder"/>
        </a></li>
        
        <li><a id="single_image" href="images/guru.jpg" title="">
        	<img src="images/guru1.jpg" alt="Guru"  class="imageHolder"/>
        </a></li>
        
        <li><a id="single_image" href="images/jonos.jpg" title="">
        	<img src="images/jonos1.jpg" alt="Snapshot from club 1"  class="imageHolder"/>
        </a></li>
        
        <li><a id="single_image" href="images/jonos2.jpg" title="">
        	<img src="images/jonos21.jpg" alt="Snapshot from club 2"  class="imageHolder"/>
        </a></li>
        
        
        <li><a id="single_image" href="images/jonos3.jpg" title="">
        	<img src="images/jonos3.jpg" alt="Snapshot from club 3"  class="imageHolder"/>
        </a></li>
        
        <li><a id="single_image" href="images/jonos-students.jpg" title="">
        	<img src="images/jonos-students1.jpg" alt="Student poster"  class="imageHolder"/>
        </a></li>
        
        <li><a id="single_image" href="images/lamps.jpg" title="">
        	<img src="images/lamps1.jpg" alt="Lamps"  class="imageHolder"/>
        </a></li>
        
        <li><a id="single_image" href="images/outdoors.jpg" title="">
        	<img src="images/outdoors1.jpg" alt="Out Doors"  class="imageHolder"/>
        </a></li>
        
        <li><a id="single_image" href="images/pink.jpg" title="">
        	<img src="images/pink1.jpg" alt="Pink"  class="imageHolder"/>
        </a></li>
        
        <li><a id="single_image" href="images/pool.jpg" title="">
        	<img src="images/pool1.jpg" alt="Pool"  class="imageHolder"/>
        </a></li>
        
        <li><a id="single_image" href="images/tables.jpg" title="">
        	<img src="images/tables1.jpg" alt="Tables"  class="imageHolder"/>
        </a></li>
        
        
        <!--<li><a class="various fancybox.iframe" data-fancybox-type="iframe" href="iframes/iframe.html">
        	<img src="images/photo2.jpg" alt="image discription"  class="imageHolder"/>
        </a></li>
        
        <li><a class="various1 fancybox.iframe" data-fancybox-type="iframe" href="iframes/iframe2.html"> 
        
        <!--<li><a class="fancybox-media" href="http://vimeo.com/36031564">
        
        <img src="images/video1.jpg" alt="image discription"  class="imageHolder"/>
        
        </a></li>-->
        	
        </ul>
        
    
    </div>

</div>